<!DOCTYPE html>
<html lang="ro">
    <head>
        <title>Infinity</title>
        <%- include('../fragmente/head') %>
    </head>
    <body>
        <%- include('../fragmente/header') %>
        <main>
            <div class = "grid" id = "grid_principal">
                <div class="zona1">
                    <div class="container_pag_princ">
                        <section id="despre_noi">
                            <h2>Despre noi</h2>
                            <p>Suntem un <b>magazin</b> nou care oferă o gamă largă de <b>haine</b> pentru femei și bărbați. Ne mândrim cu calitatea produselor noastre și cu atenția la detalii. Fiecare articol de <b>îmbrăcăminte</b> este selectat cu grijă pentru a asigura confortul și stilul clienților noștri.</p>
                            <p><b>Magazinul</b> nostru a fost fondat cu scopul de a aduce cele mai noi <i>trenduri</i> de <b>modă</b> la îndemâna tuturor. Colaborăm cu <i>designeri</i> talentați și <i>branduri</i> de renume pentru a oferi o varietate de stiluri, de la <i>casual</i> la elegant.</p>
                            <p><strong>Ne angajăm să oferim o experiență de cumpărături plăcută și fără stres.</strong> Echipa noastră de <i>customer support</i> este întotdeauna gata să te ajute cu orice întrebări sau nelămuriri. Vizitează-ne frecvent pentru a descoperi noile colecții și ofertele speciale.</p>
                        </section>
                    </div>
                </div>
                <div class="zona2">
                    <div class="container_pag_princ">
                        <table id="tabel_oferte">
                            <caption>Oferte speciale</caption>
                            <thead>
                                <tr>
                                    <th>Produs</th>
                                    <th>Descriere</th>
                                    <th>Preț inițial</th>
                                    <th>Preț redus</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr>
                                    <td>Tricou</td>
                                    <td>Tricou din bumbac, alb</td>
                                    <td>50 RON</td>
                                    <td>35 RON</td>
                                </tr>
                                <tr>
                                    <td>Blugi</td>
                                    <td>Blugi skinny, albastru</td>
                                    <td>120 RON</td>
                                    <td>90 RON</td>
                                </tr>
                                <tr>
                                    <td>Rochie</td>
                                    <td>Rochie de vară, roșie</td>
                                    <td>200 RON</td>
                                    <td>150 RON</td>
                                </tr>
                                <tr>
                                    <td>Geacă</td>
                                    <td>Geacă de piele, neagră</td>
                                    <td>300 RON</td>
                                    <td>250 RON</td>
                                </tr>
                            </tbody>
                            <tfoot>
                                <tr>
                                    <td colspan="4">4 oferte speciale.</td>
                                </tr>
                            </tfoot>
                        </table>
                    </div>
                </div>
                <div class="zona3">
                    <div class="container_pag_princ">
                        <section id="colaborare_nike">
                            <h2>Ultima noastră colaborare</h2>
                            <p>Suntem încântați să anunțăm ultima noastră colaborare cu <a href="https://www.nike.com/ro/" target="_blank"><b>Nike</b></a>, unul dintre cele mai renumite <i>branduri</i> de <b>îmbrăcăminte</b> sportivă din lume. Această colaborare ne permite să oferim clienților noștri o gamă exclusivă de produse <a href="https://www.nike.com/ro/" target="_blank"><b>Nike</b></a>, care combină stilul modern cu performanța de top.</p>
                            <p><strong>Noua colecție</strong> include o varietate de articole, de la tricouri și hanorace la pantofi sport și accesorii, toate create cu tehnologia avansată și designul inovator pentru care <a href="https://www.nike.com/ro/" target="_blank"><b>Nike</b></a> este cunoscut. Fiecare produs este conceput pentru a oferi confort și durabilitate, fiind ideal atât pentru activitățile sportive, cât și pentru ținutele <i>casual</i>.</p>
                            <p>Vizitează-ne frecvent pentru a descoperi noile produse din această colaborare și pentru a beneficia de ofertele speciale pe care le-am pregătit pentru tine. Echipa noastră de <i>customer support</i> este aici pentru a te ajuta cu orice întrebări sau nelămuriri legate de noile produse <a href="https://www.nike.com/ro/" target="_blank"><b>Nike</b></a>.</p>
                        </section>
                        <div class="container-iframe">
                            <iframe id="video_nike" src="https://www.youtube.com/embed/lit-XgtTEoQ" name="ifr-video" title="The Nike 24.7 Collection | Nike" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" referrerpolicy="strict-origin-when-cross-origin" allowfullscreen></iframe>
            
                            <div class="taburi-iframe">
                                <a class="buton_nike" href="https://www.youtube.com/embed/lit-XgtTEoQ" target="ifr-video">Noua colectie</a>
                                <a class="buton_nike" href="https://www.youtube.com/embed/l4qXAeMAWUI" target="ifr-video" >Airmax 1000</a>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="zona4">
                    <div class="container_pag_princ">
                        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Autem, omnis repellat veniam quas corrupti quo sed eligendi iure velit ad dignissimos fugiat a voluptatibus libero, id similique amet blanditiis debitis?</p>
                        Lorem ipsum dolor sit amet consectetur adipisicing elit. Earum error deleniti ipsa libero repellat, officiis numquam suscipit, nostrum, autem ab ipsum et eaque unde cum sequi dolor quos dolores necessitatibus.
                    </div>
                </div>
                <div class="zona5">
                    <div class="container_pag_princ">
                        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Autem, omnis repellat veniam quas corrupti quo sed eligendi iure velit ad dignissimos fugiat a voluptatibus libero, id similique amet blanditiis debitis?</p>
                        Lorem ipsum dolor sit amet consectetur adipisicing elit. Earum error deleniti ipsa libero repellat, officiis numquam suscipit, nostrum, autem ab ipsum et eaque unde cum sequi dolor quos dolores necessitatibus.
                    </div>
                </div>
                <div class="zona6">
                    <div class="container_pag_princ">
                        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Autem, omnis repellat veniam quas corrupti quo sed eligendi iure velit ad dignissimos fugiat a voluptatibus libero, id similique amet blanditiis debitis?</p>
                        Lorem ipsum dolor sit amet consectetur adipisicing elit. Earum error deleniti ipsa libero repellat, officiis numquam suscipit, nostrum, autem ab ipsum et eaque unde cum sequi dolor quos dolores necessitatibus.
                    </div>
                </div>
                <div class="zona7">
                    <div class="container_pag_princ">
                        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Autem, omnis repellat veniam quas corrupti quo sed eligendi iure velit ad dignissimos fugiat a voluptatibus libero, id similique amet blanditiis debitis?</p>
                        Lorem ipsum dolor sit amet consectetur adipisicing elit. Earum error deleniti ipsa libero repellat, officiis numquam suscipit, nostrum, autem ab ipsum et eaque unde cum sequi dolor quos dolores necessitatibus.
                    </div>
                </div>
                <div class="zona8">
                    <div class="container_pag_princ">
                        <section id="galerie-preview">
                            <h2>Galerie Foto</h2>
                            <p>Descoperă colecția noastră de imagini spectaculoase. Galeria se actualizează în funcție de ora curentă.</p>
                            <a href="/galerie" class="btn-galerie">Vezi galeria completă</a>
                        </section>
                        
                        <%- include('../fragmente/galerie', { imagini: imagini, cale_galerie: cale_galerie }) %>
                    </div>
                </div>
            </div>
        </main>
        <%- include('../fragmente/footer') %>
    </body>
</html>

