:root{
    --primary: #95ff00 !important;
    --secondary: #000000 !important;
    --accent: #daff8f !important;
    --background: #ffffff !important;
    --text: black !important;
    --background_pagina: #fff0db !important;
}

.grid>div{
    /* border:solid 3px white; */
    margin-top: 100px;
    margin-bottom: 100px;
}

.grid{
    display: grid;
    grid-template-columns: repeat(4, minmax(150px, 1fr));
    grid-template-rows: auto;
    grid-template-areas: 
        "zona1 zona1 zona1 zona1"
        "zona2 zona2 zona3 zona3"
        "zona2 zona2 zona4 zona4"
        "zona5 zona6 zona6 zona7"
        "zona8 zona8 zona8 zona8";
    gap: 20px;
    justify-content: center;
}

@media (max-width: 800px) {
    .grid {
        grid-template-columns: auto;
        grid-template-rows: auto;
        grid-template-areas: 
            "zona1 zona1"
            "zona2 zona3"
            "zona2 zona4"
            "zona5 zona6"
            "zona7 zona6"
            "zona8 zona8";
        gap: 15px;
        justify-content: center;
    }
}

@media (max-width: 400px) {
    .grid {
        grid-template-columns: 1fr;
        grid-template-areas: 
            "zona1"
            "zona2"
            "zona3"
            "zona4"
            "zona5"
            "zona6"
            "zona7"
            "zona8";
        gap: 10px;
        justify-content: center;
    }
}



.zona1{
    grid-area: zona1;
}
.zona2{
    grid-area: zona2;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow-x: auto;
}
.zona3{
    grid-area: zona3;
}
.zona4{
    grid-area: zona4;
}
.zona5{
    grid-area: zona5;
}
.zona6{
    grid-area: zona6;
}
.zona7{
    grid-area: zona7;
}
.zona8{
    grid-area: zona8;
}