<footer>
    <a href="#" id="link-top">
        <div id="cerc">
        </div>
        <div id="triunghi">
             &#8593; 
        </div>
    </a>
    <div id="vf_info">Varful paginii</div>
    <h2 id="contact">Contact</h2>
    <address>
        <a href="https://wa.me/40722189990" target="_blank">Chat pe WhatsApp</a>
        <p>Mail: <a href="mailto:magazinul.nostru.de.haine@gmail.com">magazinul.nostru.de.haine@gmail.com</a></p>
        <p>Telefon: <a href="tel:+40722189990">0722189990</a></p>
        <p>Adresă: <a href="https://www.google.com/maps/place/Faculty+of+Mathematics+and+Computer+Science/@44.4347896,26.1001684,16.5z/data=!4m6!3m5!1s0x40b1ff472f47f047:0x493984726f0235f9!8m2!3d44.4355355!4d26.0995867!16s%2Fg%2F1td63tdh?entry=ttu&g_ep=EgoyMDI1MDIyNi4xIKXMDSoASAFQAw%3D%3D" target="_blank">Strada Academiei 14, București 010014</a></p>
        <div class="container-iframe">
            <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d4028.982243393872!2d26.10016838612961!3d44.4347895629279!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x40b1ff472f47f047%3A0x493984726f0235f9!2sFaculty%20of%20Mathematics%20and%20Computer%20Science!5e0!3m2!1sen!2sro!4v1741114518461!5m2!1sen!2sro" width="600" height="450" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
        </div>
    </address>
    <p id="banner-print">Acesta este un proiect școlar!</p>
    <p></p>
    <small>&copy; <time datetime="2025-03-04">4 martie 2025</time> Matei Chișcan. Toate drepturile rezervate.</small>
</footer> 