<header>
    <div class="bara_sus">
        <div id="logo"></div>     
        <div id="titlu">
            <h1>Infinity</h1>
        </div>
        
        <input type="checkbox" id="burger-toggle" hidden>
        <label for="burger-toggle" id="burger">
            <span></span>
            <span></span>
            <span></span>
        </label>
        <div class="navigare">
            <nav class="navigare_bara_sus">
                <ul>
                    <li>
                        <a href="/home">
                            <i class="fa fa-home"></i>
                            <span class="text-acasa">Acasă</span>
                        </a>
                        <ul class="submenu">
                            <li><a href="/despre">Despre noi</a></li>
                            <li><a href="#contact">Contact</a></li>
                        </ul>
                    </li>
                    <li><a href="">Oferte</a>
                        <ul class="submenu">
                            <li><a href="">Reduceri</a></li>
                            <li><a href="">Noutăți</a></li>
                            <li><a href="">Sezonul rece</a></li>
                        </ul>
                    </li>
                    <li><a href="">Nike</a>
                        <ul class="submenu">
                            <li><a href="">Tricouri</a></li>
                            <li><a href="">Pantaloni</a></li>
                            <li><a href="">Încălțăminte</a></li>
                        </ul>
                    </li>
                    <li><a href="">Adidas</a>
                        <ul class="submenu">
                            <li><a href="">Tricouri</a></li>
                            <li><a href="">Pantaloni</a></li>
                            <li><a href="">Încălțăminte</a></li>
                        </ul>
                    </li>
                </ul>
            </nav>
        </div>
        
        <!-- Zona pentru date despre utilizator -->
        <div class="user-info">
            <small><strong>IP utilizator:</strong> <%= ipUtilizator %></small>
        </div>
    </div>
</header> 